<%- include('includes/head'); %>
<%- include('includes/navBar'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contact</h1>
            <p class="text-center lead">Create or edit your contact bellow.</p>

            <%- include('includes/messages'); %>

            <% if(contact._id){ %>
            <form action="/contact/edit/<%= contact._id%>" method="post">
            <% } else { %>
            <form action="/contact/register" method="post">
            <% } %>     
            
                <input type="hidden" name="_csrf" value=<%= csrfToken %>>

                <div class="form-group my-3">
                  <input value="<%= contact.firstName %>" type="text" class="form-control" name="firstName"  placeholder="First name">
                </div>

                <div class="form-group my-3">
                    <input value="<%= contact.lastName %>" type="text" class="form-control" name="lastName"  placeholder="Last name">
                </div>

                <div class="form-group my-3">
                    <input value="<%= contact.email %>" type="email" class="form-control" name="email"  placeholder="Email">
                </div>

                <div class="form-group my-3">
                    <input value="<%= contact.telephone %>" type="tel" class="form-control" name="telephone"  placeholder="Telephone">
                </div>

                

                <button type="submit" class="btn btn-primary">Salve contact</button>
            </form>

        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>