<%- include('includes/head'); %>
<%- include('includes/navBar'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contacts</h1>
            <p class="text-center lead">Your contacts are bellow</p>

            <%- include('includes/messages'); %>

            <div class="responsive-table">
                <table class="table my-3">

                    <% if(contacts){ %>
                        <% contacts.forEach( contact => { %>
                            <tr>
                                <td><%= contact.firstName %></td>
                                <td><%= contact.lastName %></td>
                                <td><%= contact.telephone %></td>
                                <td><%= contact.email %></td>
                                <td><a href="/contact/index/<%= contact._id %>">Edit</a></td>
                                <td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Delete</a></td>
                            </tr>
                        <% }); %>
                    <% } %>
                </table>
            </div>

        </div>
        
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>